/*
body {
  box-sizing: content-box;
}
#searchEdit {
  width: 50%;
}
#foundUsers {
  border: 1px solid #ccc;
  margin-top: 10px;
  display: inline-block;
  width: 49%;
}

#statistics {
  border: 1px solid #ccc;
  margin-top: 10px;
  display: inline-block;
  width: 49%;
}
*/
